// mq services2
@media (max-width: 767px) {
  #services_two {
    #services_two_content {
      flex-direction: column-reverse;
      #services_two_content_two {
        padding: 2rem;
        h3 {
          font-size: 2rem;
        }
        h2 {
          font-size: 2.5rem;
        }
      }
    }
  }
}
